
<header class="auth-header">
    <h1 class="auth-title">Information Technology University</h1>
</header>

<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <div class="footerContent">
        <nav class="socialBox">
            <a href="https://www.linkedin.com/in/manuel14mds/" target="_blank">
                <div class="rsBox">
                    <img  class="img" src="./assets/linkedin.png" alt="">
                    <span>LinkedIn</span>
                </div>
            </a>
            
            <a href="https://github.com/manuel14mds" target="_blank">
                <div class="rsBox">
                    <img class="img" src="./assets/github.png" alt="">
                    <span>GitHub</span>
                </div>
            </a>
            
        </nav>
    
        <span class="footerName">Manuel Esteban Florez Lopez</span>
    </div>
</footer>