<mat-card>
    <mat-card-header><h1>Courses' Page</h1></mat-card-header>
</mat-card>
<br>

<!-- button add new course -->
<button mat-raised-button color="primary" style="margin-bottom: 1rem;" (click)="coursesService.openCourseDialog()"><mat-icon>add</mat-icon> Add Course</button>
<br>

<app-course-table 
[dataSource]="coursesService.courseList"

(switchCourseStatus)="coursesService.switchCourseStatus($event)" 
(editCourse)="coursesService.onEditCourse($event)"
></app-course-table>

<!-- toast -->
<ng-toast></ng-toast>