<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="app-name-toobar">Information Technology University</span>
</mat-toolbar>


<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over" role="aside">
        <div class="userDisplay">
            <div class="userImage">
                <img src="./assets/userIcon.png" alt="user Icon">
            </div>
            <ng-template [ngIf]="user">
                <span class="userName">{{user.name}}</span>
                <span class="userRole">{{user.role}} role</span>
                <span class="userEmail">{{user.email}}</span>
            </ng-template>
        </div>

        <div class="sidenav-icons">
            <button (click)="logout()" mat-icon-button matTooltip="logout" aria-label="logout button">
                <mat-icon >logout</mat-icon>
            </button>
            <button mat-icon-button matTooltip="edit user" aria-label="Example icon-button with share icon">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <nav>
            <a mat-button color="primary" routerLink="home">Home Dashboard</a> <br>
            <a mat-button color="primary" routerLink="students">Students</a> <br>
            <a mat-button color="primary" routerLink="teachers">Teachers</a> <br>
            <a mat-button color="primary" routerLink="courses">Courses</a> <br>
        </nav>


    </mat-drawer>

    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>