.app-name-toobar{
    font-size: 0.8rem;
    font-family: 'Meera Inimai', sans-serif;
}
mat-divider{
    margin: 20px 0px;
}
.example-container {
    width: 100%;
    height: calc(100vh - 56px);
}
.sidenav-icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.example-sidenav-content {
    padding: 1rem;
}

.example-sidenav {
    padding: 30px;
}
.userDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.userDisplay .userImage {
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    overflow: hidden;
    border-radius:50%;
    box-shadow: 0 0 0 3px rgb(155, 154, 154);
}
.userDisplay .userImage img{
    width: 100%;
}
.userDisplay .userName{
    margin-top: 12px;
    color: #e91e63;
    font-weight: 100;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.userDisplay .userRole{
    margin-top: 3px;
}
.userDisplay .userEmail{
    margin-top: 3px;
    font-weight: 100;
    font-size: 0.7rem;
}
@media (min-width: 600px) {
    .app-name-toobar{
        font-size:1.2rem;
    }
    .example-container {
        height: calc(100vh - 64px);
    }
    .userDisplay .userImage {
        width: 80px;
        height: 80px;
    }
}