
<!-- Dialog title -->
<h1 mat-dialog-title> {{ course?'Set Course':'Add New Course' }}</h1>

<!-- Dialog content -->
<div mat-dialog-content>
    <form action="" [formGroup]="courseForm" class="row">

        <mat-form-field class="col-12 col-md-6">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
            <mat-error>
                {{ courseForm.get("name")?.errors | errors }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col-12 col-md-6">
            <mat-label>Choose a start date</mat-label>
            <input matInput type="datetime" [matDatepicker]="picker1" formControlName="startDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>

            <mat-error>
                {{ courseForm.get("stardDate")?.errors | errors }}
            </mat-error>
        </mat-form-field>
    
        <mat-form-field class="col-12 col-md-6">
            <mat-label>Choose a end date</mat-label>
            <input matInput type="datetime" [matDatepicker]="picker2" formControlName="endDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>

            <mat-error>
                {{ courseForm.get("stardDate")?.errors | errors }}
            </mat-error>
        </mat-form-field>
    
        <mat-form-field class="col-12 col-md-6">
            <mat-label>State</mat-label>
            <mat-select  formControlName="active">
                <mat-option value="true">Active</mat-option>
                <mat-option value="false">Inactive</mat-option>
            </mat-select>
            <mat-error>
                {{ courseForm.get("active")?.errors | errors }}
            </mat-error>
        </mat-form-field>
    </form>
</div>

<!-- Dialog action btns box -->
<div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-dialog-close="" mat-flat-button >Cancelar</button>
    <button mat-flat-button color="primary" [disabled]="activateSubmitBtn()" (click)="onSubmit()">Guardar</button>
</div>
