<mat-card>
    <mat-card-header><h1>Students' Page</h1></mat-card-header>
</mat-card>
<br>

<!-- button add new student -->
<button mat-raised-button color="primary" style="margin-bottom: 1rem;" (click)="studentsService.openStudentDialog()" class="addBtn"><mat-icon>add</mat-icon> Add Student</button>
<br>

<app-student-table class="'student-table'"
(switchStudentStatus)="studentsService.switchStudentStatus($event)" 
(editStudent)="studentsService.onEditStudent($event)"
></app-student-table>
<!-- toast -->
<ng-toast></ng-toast>