<mat-card>
    <mat-card-header>
        <h1>Course Detail Page</h1>
    </mat-card-header>
</mat-card>
<br>


<div *ngIf="loading; else elseBlock">
    <!-- loading -->
    <br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<ng-template #elseBlock>
    <mat-card class="container-fluid CardDetailBox">
        <h2>{{course$?.name}} <span> ID: {{courseId$}}</span></h2>
        
        <mat-divider></mat-divider>
    
        <div class="row align-items-center teacherSection">
            <h3 class="col d-flex justify-content-center">Teacher: {{course$?.teacher}}</h3>
            <div class="col d-flex justify-content-center align-items-center">
                <mat-form-field>
                    <mat-label>Select teacher</mat-label>
                    <mat-select (selectionChange)="onTeacherSelected($event.value)" [disabled]="userRole !== 'admin'">
                        <mat-option *ngFor="let teacher of teacherList$ | async" [value]="teacher">
                            {{ teacher | fullname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div class="col d-flex justify-content-center">
                <button mat-flat-button color="primary" [disabled]="selectedTeacher === undefined" (click)="setTeacher()">Set Teacher</button>
            </div>
        </div>
    
        <mat-divider></mat-divider>
    
        <h3>{{course$?.startDate | timestampToDate}} - <span>Start date</span></h3>
        <h3>{{course$?.endDate | timestampToDate}} - <span>End date</span></h3>
    </mat-card>
    
    
    <mat-card class="container-fluid CardDetailBox">
        <mat-tab-group animationDuration="1000ms" backgroundColor="primary" color="primary">
            <mat-tab label="Classes">
                <ng-template [ngIf]="course$">
                    <app-classes-table [dataSource]="classes" [course]="course$" (refresh)="refreshCourse()"></app-classes-table>
                </ng-template>
            </mat-tab>
            <mat-tab label="Students" >
                <ng-template [ngIf]="course$">

                    <app-students-table [courseName]="course$.name"></app-students-table>
                </ng-template>
                <!-- <app-students-table ></app-students-table> -->
            </mat-tab>
    
        </mat-tab-group>
    </mat-card>
</ng-template>

