.CardDetailBox{
    padding: 1rem;
    margin-bottom: 1rem;
}
.headerCourse{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.teacherSection{
    padding: 1rem;
    width: auto;
    border-radius: var(--mdc-elevated-card-container-shape);
}
h3{
    margin: 0;
}
h2 span{
    font-size: 0.8rem;
    font-weight: 200;
}
h3 span{
    font-size: 1.2rem;
    font-weight: 100;
    color: #C2185B;
}

.mat-tab-group {
    margin-bottom: 48px;
}